name: Merge Schedule

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  schedule:
    # https://crontab.guru/every-hour
    - cron: '23 * * * *'
jobs:
  merge_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: KeisukeYamashita/auto-pull-request-merge@v1
        with:
          labels: "saturday-merge"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}