name: Scheduled PR Merge
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - labeled
      - unlabeled
  schedule:
    # https://crontab.guru/every-hour
    - cron: 03 * * * *

jobs:
  auto-merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run Auto-Merge PRs
        uses: MinhOmega/auto-merge@v1.0.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}